{% extends 'base_modal.html' %}
{% load common_template %}
{% block id %}create-relay-modal{% endblock %}
{% block animation %}modal-fx-fadeInScale{% endblock %}
{% block header %}
    <p class="card-header-title">
        Create a new relay
    </p>
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'relays:relay-create' %}">{% csrf_token %}
        {% render_form create_form %}
        <div class="field">
            <input type="submit" class="button is-link" value="Save"/>
        </div>
    </form>
{% endblock %}