{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block description %}{{ defaults.description }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{{ defaults.keywords }}{% endblock %}">
    <link rel="icon" href="{% static 'logo.png' %}">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% else %}
                {{ defaults.title }}
            {% endif %}
        {% endblock %}
    </title>
    {% block css %}{% include 'includes/css.html' %}{% endblock %}
    {% block extra_css %}{% endblock %}
    {% block js %}{% include 'includes/js.html' %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
{% block body %}
    {% block navigation %}
        {% include 'includes/navigation.html' %}
    {% endblock %}
    <main>
        <header>
            <div class="mb-3">
                <p class="is-size-3">
                    {% block page_title %}
                        {% if page_title %}
                            {{ page_title }}
                        {% elif title %}
                            {{ title }}
                        {% endif %}
                    {% endblock %}
                </p>
                <p class="is-size-6 has-text-grey">
                    {% block page_subtitle %}
                        {% if page_subtitle %}
                            {{ page_subtitle }}
                        {% endif %}
                    {% endblock %}
                </p>
            </div>
            <div class="is-flex is-justify-content-space-between">
                {% block breadcrumbs %}
                    <section>
                        {% include 'includes/breadcrumbs.html' %}
                    </section>
                {% endblock %}
                <section>
                    {% block status %}{% endblock %}
                </section>
            </div>
        </header>
        <hr>
        {% block body_content %}{% endblock %}
    </main>
    {% block footer %}
        {#        <footer class="footer">#}
        {#            <div class="content has-text-centered">#}
        {#                {% include 'includes/footer.html' %}#}
        {#            </div>#}
        {#        </footer>#}
    {% endblock %}
    {% block modals %}{% endblock %}
{% endblock %}
</body>
</html>