<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% else %}
                {{ defaults.title }}
            {% endif %}
        {% endblock %}
    </title>
    {% block css %}{% include 'includes/css.html' %}{% endblock %}
    {% block extra_css %}{% endblock %}
    {% block js %}{% include 'includes/js.html' %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
{% block body %}
    {% block navigation %}
        {% include 'includes/navigation.html' %}
    {% endblock %}
    <main>
        <header>
            <p class="is-size-3 mb-3">
                {% block page_title %}
                    {% if page_title %}
                        {{ page_title }}
                    {% elif title %}
                        {{ title }}
                    {% endif %}
                {% endblock %}
            </p>
            {% block breadcrumbs %}
                {% include 'includes/breadcrumbs.html' %}
            {% endblock %}
        </header>
        <hr>
        {% block body_content %}{% endblock %}
    </main>
    {% block footer %}
        {#        <footer class="footer">#}
        {#            <div class="content has-text-centered">#}
        {#                {% include 'includes/footer.html' %}#}
        {#            </div>#}
        {#        </footer>#}
    {% endblock %}
{% endblock %}
</body>
</html>