{% extends 'base_template.html' %}
{% load relays_template %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/relay_control.js' %}" defer></script>
    <script id="csrf_token" type="application/json">{{ csrf_token }}</script>
{% endblock %}
{% block status %}
    {% slot_status %}
{% endblock %}
{% block body_content %}
    <div class="columns is-multiline">
        {% if not object_list %}
            <div class="column">
                <span class="has-text-grey-light">No relay has been created yet, start by creating one first</span>
            </div>
        {% endif %}
        {% for relay in object_list %}
            <div class="column is-full-mobile is-6-tablet is-6-desktop is-4-widescreen is-3-fullhd">
                {% render_relay_card relay %}
            </div>
        {% endfor %}
        {% include 'includes/create_modal_button.html' with label='Add relay' data_target='create-relay-modal' %}
    </div>
{% endblock %}
{% block modals %}
    {% for relay in object_list %}
        {% include 'modals/delete_relay_modal.html' with relay_id=relay.pk relay_name=relay.name %}
    {% endfor %}

    {% include 'modals/create_relay_modal.html' %}
{% endblock %}