{% extends 'base_template.html' %}
{% load data %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/relay_control.js' %}" defer></script>
    {{ relay_states|json_script:"relays" }}
{% endblock %}
{% block status %}
    <p class="has-text-grey-light">
        {{ slots_used }}/{{ slots_max }} slots used (<b>{% if slots_left <= 0 %}Full{% else %}{{ slots_left }}
        remaining{% endif %}</b>)
    </p>
    <progress class="progress {{ progress_color }}" value="{{ slots_used }}" max="{{ slots_max }}"></progress>
{% endblock %}
{% block body_content %}
    <div class="columns is-multiline">
        {% if not object_list %}
            <div class="column">
                <span class="has-text-grey-light">No relay has been created yet, start by creating one first</span>
            </div>
        {% endif %}
        {% for relay in object_list %}
            <div class="column is-full-mobile is-6-tablet is-6-desktop is-4-widescreen is-3-fullhd">
                {% include 'includes/relay_card.html' %}
            </div>
        {% endfor %}
        <button class="button add_relay_button model-button is-rounded is-info modal-button"
                data-target="create-relay-modal">
            <i class="fa-solid fa-plus mr-2"></i>
            <span class="add_relay_button_text">Add relay</span>
        </button>
    </div>
{% endblock %}
{% block modals %}
    {% for relay in object_list %}
        {% include 'modals/delete_relay_modal.html' with relay_id=relay.pk relay_name=relay.name confirm_text=relay.get_delete_confirm_text %}
    {% endfor %}

    {% include 'modals/create_relay_modal.html' %}
{% endblock %}