{% extends 'base_template.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/relay_details.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/pagination.js' %}" defer></script>
    {{ state_history|json_script:'state_history' }}
{% endblock %}
{% block page_subtitle %}
    State:
    {% if object.get_current_state.new_state %}
        <span class="tag is-success">ON</span>
    {% else %}
        <span class="tag is-danger">OFF</span>
    {% endif %}
{% endblock %}
{% block body_content %}
    <p class="is-size-4 mb-3">Overview</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-weight-bold">Description</p>
            <p>{{ object.description }}</p>
        </div>
    </div>

    <p class="is-size-4 mb-3">Scheduling</p>
    <div class="columns">
        <div class="column">
            <label class="label">Quick scheduling <span
                    class="has-text-weight-light">(toggle the relay after)</span></label>
            <div class="buttons">
                {% for button in quick_scheduling %}
                    <form action="{% url 'relays:relay-toggle' object.pk %}" method="post" class="mr-2">
                        {% csrf_token %}
                        <input type="hidden" name="delay" value="{{ button.1 }}">
                        <button class="button is-light {{ button.2 }}">{{ button.0 }}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>



    <p class="is-size-4 mb-3">State history</p>
    <canvas id="history"></canvas>
    <script src="{% static 'js/relay_detail.js' %}"></script>

    {% if permissions.sharing %}
        <div id="sharing" class="is-flex is-align-items-center mt-5 mb-2">
            <p class="is-size-4">Sharing</p>
            <div class="is-hidden-mobile ml-3">
                {% include 'includes/share_relay_form.html' with form=share_form %}
            </div>
        </div>
        <div class="is-hidden-tablet mb-2">
            {% include 'includes/share_relay_form.html' with form=share_form %}
        </div>
        {% include 'includes/relay_shares_table.html' with shares=relay_shares %}
    {% endif %}

    {% if permissions.audit_log %}
        <p class="is-size-4 mt-5">Audit log</p>
        {% include 'includes/audit_log_table__without_relays.html' with rows=audit_log limit=audit_log_limit.0 base_limit=audit_log_limit.1 limit_query_parameter='audit_log_limit' limit_button_id='limit-button' %}
    {% endif %}
{% endblock %}