{% extends 'base_template.html' %}
{% load data %}
{% load static %}
{% block extra_js %}
    <script src="{% static 'js/relay_control.js' %}" defer></script>
    {{ relay_states|json_script:"relays" }}
{% endblock %}
{% block body_content %}
    <div class="columns is-multiline">
        {% for relay in object_list %}
            <div class="column is-full-mobile is-6-tablet is-6-desktop is-4-widescreen is-3-fullhd">
                {% include 'includes/relay_card.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block modals %}
    <div id="delete-relay-modal" class="modal modal-fx-fadeInScale modal-pos-bottom">
        <div class="modal-background"></div>
        <div class="modal-content is-tiny">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Are you absolutely sure?
                    </p>
                    <button class="card-header-icon" aria-label="close">
                      <span class="icon">
                        <i class="fa-solid fa-xmark"></i>
                      </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        Please type <b>Pzdrs/remeslovkostce-toolbox</b> to confirm.
                        <form action="">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" class="button is-danger is-outlined is-fullwidth" disabled/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}