{% load render %}
{% if shares %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th class="is-hidden-touch">Sharing started on</th>
            <th>User</th>
            <th>
                <span class="is-hidden-mobile">Permission level</span>
                <span class="is-hidden-tablet">Permissions</span>
            </th>
            <th style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for share in shares %}
            <tr>
                <td class="is-hidden-touch">{{ share.created_at }}</td>
                <td>
                    <span class="is-hidden-touch">{{ share.user.get_verbose_name }}</span>
                    <span class="is-hidden-desktop">{{ share.user.username }}</span>
                </td>
                <td style="vertical-align: middle">
                    {% render_permission_level_progress_bar share %}
                </td>
                <td style="text-align: center">
                    {% if share.permission_level < share.highest_permission_level %}
                        <a href="" class="button is-small is-success" title="Increase permission level">
                        <span class="icon">
                            <i class="fas fa-arrow-up"></i>
                        </span>
                        </a>
                    {% endif %}
                    {% if share.permission_level > share.lowest_permission_level %}
                        <a href="" class="button is-small is-warning" title="Decrease permission level">
                        <span class="icon">
                            <i class="fas fa-arrow-down"></i>
                        </span>
                        </a>
                    {% endif %}
                    <a href="" class="button is-small is-danger">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>Revoke share</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <span class="has-text-grey-light">You are not sharing this relay with anyone</span>
{% endif %}