{% load template %}
{% load data %}
<div class="card">
    <header id="relayCardHeader{{ relay.pk }}" class="relay-card-header card-header">
        <p class="card-header-title">
            {{ relay.name }}
        </p>
        <button class="card-header-icon" aria-label="more options">
            <input id="relaySwitch{{ relay.pk }}" type="checkbox" class="switch is-rounded is-success"
                   onclick="toggleRelay({{ relay.pk }})">
            <label for="relaySwitch{{ relay.pk }}"></label>
        </button>
    </header>
    <div class="card-content">
        <div class="content">
            <p>
                {% if relay.description %}
                    {{ relay.description }}
                {% else %}
                    <span class="has-text-grey-light">No description</span>
                {% endif %}
            </p>
            <p class="m-0">
                <b>Created:</b> {{ relay.created_at }}
            </p>
            <p class="m-0">
                <b>Last state change:</b>
                {% if last_relay_state_changes|dict_lookup:relay.pk %}
                    {{ last_relay_state_changes|dict_lookup:relay.pk|time_delta_nice }}
                {% else %}
                    <span class="has-text-grey-light">No history</span>
                {% endif %}
            </p>
        </div>
    </div>
    <footer class="card-footer">
        <a href="{% url 'relays:relay-detail' relay.pk %}" class="card-footer-item">
            <i class="fa-solid fa-circle-info pr-2"></i>
            Detail
        </a>
        <a href="{% url 'relays:relay-update' relay.pk %}" class="card-footer-item has-text-info">
            <i class="fa-solid fa-pen-to-square pr-2"></i>
            Edit
        </a>
        <a class="card-footer-item has-text-danger modal-button" data-target="delete-relay-modal-{{ relay.pk }}">
            <i class="fa-solid fa-trash pr-2"></i>
            Delete
        </a>
    </footer>
</div>