{% load relays_template %}
{% if shares %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th class="is-hidden-touch">Sharing started on</th>
            <th>User</th>
            <th>
                <span class="is-hidden-mobile">Permission level</span>
                <span class="is-hidden-tablet">Permissions</span>
            </th>
            <th style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for share in shares %}
            <tr>
                <td class="is-hidden-touch">{{ share.created_at }}</td>
                <td>
                    <span class="is-hidden-touch">{{ share.user.get_verbose_name }}</span>
                    <span class="is-hidden-desktop">{{ share.user.username }}</span>
                </td>
                <td style="vertical-align: middle">
                    {% render_permission_level_progress_bar share %}
                </td>
                <td id="relay-shares-action-items" class="is-flex is-justify-content-center">
                    {% if share.permission_level < share.highest_permission_level %}
                        <form action="{% url 'relays:bump-share-permissions' share.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="permission_level" value="{{ share.permission_level|add:1 }}">
                            <button type="submit" class="button is-small is-success" title="Increase permission level">
                                <span class="icon">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            </button>
                        </form>
                    {% endif %}
                    {% if share.permission_level > share.lowest_permission_level %}
                        <form action="{% url 'relays:bump-share-permissions' share.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="permission_level" value="{{ share.permission_level|add:-1 }}">
                            <button type="submit" class="button is-small is-warning" title="Decrease permission level">
                                <span class="icon">
                                    <i class="fas fa-arrow-down"></i>
                                </span>
                            </button>
                        </form>
                    {% endif %}
                    <form action="{% url 'relays:revoke-share' share.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button is-small is-danger is-hidden-tablet">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                        <button type="submit" class="button is-small is-danger is-hidden-mobile">
                            <span class="icon">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span>Revoke share</span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <span class="has-text-grey-light">You are not sharing this relay with anyone</span>
{% endif %}