{% load static %}
{% load menu %}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'brand.png' %}" alt="logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="{% url 'accounts:logout' %}">
                    <i class="fa-solid fa-right-to-bracket fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
<aside class="menu">
    {% render_menu menu %}
</aside>