<h1 class="title is-6">
    Let's start with creating your administrator account
</h1>
<div class="field">
    <p class="control has-icons-left">
        <input class="input" name="username" type="text" placeholder="Username" autofocus required>
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
    </p>
</div>
<div class="field">
    <p class="control has-icons-left">
        <input class="input" name="password1" type="password" placeholder="Password" onchange="onPasswordFieldChange()"
               required>
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </p>
</div>
<div class="field">
    <p class="control has-icons-left">
        <input class="input" name="password2" type="password" placeholder="Confirm password"
               onchange="onPasswordFieldChange()" required>
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </p>
</div>
<div class="field has-text-right">
    <p class="control">
        <button class="button is-success">
            Register
        </button>
    </p>
</div>